.logo {
  height: 56px;
  width: 147px;
  padding: 30px 0px 30px 37px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 116px;
  width: 100%;
  background-color: #7ed321;
  color: white;
  font-family: SFUIText;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.right_container {
  display: flex;
}

.filter {
  margin-right: 30px;
}

.menu {
  display: none;
}

@media (max-width: 375pt) {
  .header {
    height: 77pt;
  }

  .header_white {
    background-color: white;
  }

  .header a {
    text-decoration: none;
  }

  .logo {
    height: 37pt;
    width: 98pt;
    margin: 20pt 0 0 25pt;
    padding: 0;
  }

  .right_container {
    display: none;
  }

  .menu {
    display: block;
    height: 24pt;
    width: 28pt;
    margin: 27pt 25pt 26pt 0;
  }

  .close {
    margin: 28pt 25pt 0 0;
    color: rgb( 176, 171, 171);
    font-size: 21pt;
  }
}
